.
  <?php
    /**
    * Template part for displaying loading
    *
    * @package #{themename}
    */
  ?>
.page-loading-wrap
  .page-loading-container
    .page-loading
    .page-loading-copy loading