include /_data/_var.pug
.
  <?php
    /**
    * Template part for displaying page content in page
    *
    * @package #{themename}
    */
  ?>
<article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
header
  <?php the_title( '<h1>', '</h1>' ); ?>
.page-content
  .
    <?php
      the_content();

      wp_link_pages(
        array(
          'before' => '<div class="page-links">' . __( 'Pages:', '#{langFileName}' ),
          'after'  => '</div>',
        )
      );
    ?>
</article>