&-r{
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  &:before{
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    border-radius: 5px 0 0 5px;
    background-color: rgba($color: #333333, $alpha: 1.0);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  &:after{
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    border-radius: 0 5px 5px 0;
    background-color: rgba($color: #333333, $alpha: 1.0);
    position: absolute;
    top: 4px;
    left: 4px;
    transform: rotate(90deg);
  }
}