include /_data/_var.pug
.
  <?php
    /**
    * Displays the post header
    *
    * @package #{themename}
    */
  ?>
#appNavi
  header.header#header
    .header-bg-fixed
    .header-wrap
      .header-container.page-container-l
        .header-items
          .header-item
            a(href="/").header-logo
              <svg xmlns="http://www.w3.org/2000/svg" width="301" height="26" viewBox="0 0 301 26"><g transform="translate(-170 -68)"><g transform="translate(170 68)"><path d="M185.186,76.291l-1.76-2.5h-3.165l-4.254,6.063h9.179Zm-2.036,1.669h-3.192l1.531-2.268h.723l.938,1.331Z" transform="translate(-168.9 -66.949)" fill="#1782bb"/><path d="M181.6,83.285l3.257,4.585,1.859-1.456-3.225-4.585Z" transform="translate(-167.876 -65.496)" fill="#1782bb"/><path d="M185.03,72.248l.854,1.2.285.411,3.044,4.281-2.438,3.465,1.778,1.577,2.1-2.972,3.515,4.97,1.923-1.519-3.984-5.538,2.535-3.6h-2.864l-1.112,1.564-2.728-3.838h6.7V70.066H193.4l-1.353-1.96H189.2l1.391,1.96h-4.174L184.863,68h-2.909l1.526,2.066h-3.852L170,83.916h2.826l8.182-11.668Z" transform="translate(-170 -68)" fill="#1782bb"/><path d="M186.981,84.841l4.048,5.755,1.955-1.551-4.048-5.755Z" transform="translate(-166.891 -65.228)" fill="#1782bb"/><path d="M180.8,81.937h-2.435v9.539H189.78V89.1H180.8Z" transform="translate(-168.469 -65.476)" fill="#1782bb"/></g><path d="M205.4,73.628V68.105h2.465V94H205.4V73.628Zm-.665,2.107v5.491h-2.476V75.735Zm5.756-.849,2.173-4.715h2.624l-.952,2.157h1.531V68h2.656v4.328h4.142v2.559h-4.142V80.8h3.541l-2.109,2.463h-1.432v8.111h4.586V94H210.493V91.379h5.376V83.268h-2.8V80.8h2.8V74.886h-5.376Z" transform="translate(5.906)" fill="#1782bb"/><path d="M234.042,93.683l4.971-12.4L233.3,78.819l1.3-2.464,5.46,2.341,3.651-9.145h3L242.618,79.8l5.766,2.46-1.3,2.464-5.513-2.365-4.539,11.322Z" transform="translate(11.566 0.284)" fill="#1782bb"/><path d="M273.894,81.661l-1.36,2.559L264,80.556V93.79h-2.815V68.964H264v8.465Z" transform="translate(16.661 0.176)" fill="#1782bb"/><path d="M288.73,93.663,299.04,69.658h3l-10.31,24.005Zm1.857-22.678h2.949l-5.976,13.9h-2.919Z" transform="translate(20.947 0.304)" fill="#1782bb"/><path d="M314.6,92.886,322.647,74.1l2.372,1.264-7.525,17.519Zm-.961-18.834V81.5H311.2V74.052Zm3.733,0V81.5H314.9V74.052Z" transform="translate(25.801 1.081)" fill="#1782bb"/><path d="M339.41,93.857,347.146,74.4H340.6l-2.648,6.633h-2.981l4.9-12.256h2.981l-1.148,2.906h9.582L342.4,93.857Z" transform="translate(30.144 0.142)" fill="#1782bb"/><path d="M358.3,93.893l10.09-23.577h2.99L361.259,93.893Zm16.138,0h-2.909V75.2h2.909ZM377.574,68v3.436h-2.435V68Zm3.731,0v3.436h-2.467V68Z" transform="translate(34.404 0)" fill="#1782bb"/><path d="M389.436,93.521l9.912-23.087,2.529,1.326-9.36,21.761Zm3.587-22.141v2.875h-7.242V71.381Z" transform="translate(39.419 0.446)" fill="#1782bb"/><path d="M415.141,93.857,422.877,74.4H416.33l-2.647,6.633H410.7l4.9-12.256h2.981l-1.148,2.906h9.582l-8.886,22.175Z" transform="translate(43.981 0.142)" fill="#1782bb"/><path d="M210.9,78.586l-1.859,1.456L206.165,76l1.891-1.456Z" transform="translate(6.62 1.188)" fill="#1782bb"/><path d="M178.506,83.585l-5.36,7.589H170l5.36-7.589Z" transform="translate(0 2.826)" fill="#1782bb"/></g></svg>
          .header-item
            nav.header-navi
              ul.header-navi-items
                li.header-navi-item.header-navi-item-copy-about
                  a(href="").header-navi-item-link 感性メトリックとは
                li.header-navi-item
                  p.header-navi-item-copy.header-navi-item-copy-metrics(@click.prevent="naviDropdown('metrics')") 評価指標
                li.header-navi-item
                  p.header-navi-item-copy.header-navi-item-copy-case(@click.prevent="naviDropdown('case')") 導入事例
                li.header-navi-item
                  p.header-navi-item-copy.header-navi-item-copy-tool(@click.prevent="naviDropdown('tool')") 分析ツール
                li.header-navi-item
                  a(href="/contact/" @mouseover="naviMouseOverAction").header-navi-item-btnlink.header-hv お問い合わせ
                    span
        .header-sub-wrap(:class="{'current': naviDropdownItem}")
          .header-sub-container(:class="{'current': naviDropdownClass('metrics')}")
            .header-sub-items.row.row-cols-2
              .
                <?php
                  $navi_category_taxonomy = 'metrics_category';
                  $navi_catTerms = get_terms( $navi_category_taxonomy );
                  foreach ( $navi_catTerms as $catTerm ):
                  $catId = $catTerm->term_id;
                  $catName = $catTerm->name;
                  $catSlug = $catTerm->slug;
                  $catLink = get_term_link($catTerm->slug,$navi_category_taxonomy);
                  $metricsArgs = array(
                    'post_type' => 'metrics',
                    'post_status' => 'publish',
                    'posts_per_page' => -1,
                    //- 'ignore_sticky_posts' => 1,
                    'orderby' => array(
                      'menu_order'=>'ASC',
                      'date' =>'DESC',
                    ),
                    'tax_query' => array(
                        array(
                          'taxonomy' => $navi_category_taxonomy,
                          'field'    => 'slug',
                          'terms'    => $catTerm->slug,
                        ),
                    ),
                  );
                  $metrics_query = new WP_Query($metricsArgs);
                ?>
              .header-sub-item
                .header-sub-cat
                  span.header-sub-cat-icon
                    .
                      <?php if($catId === 4){
                      ?>
                    <svg width="44" height="44" viewBox="0 0 44 44"><circle cx="22" cy="22" r="22" fill="none"/><g transform="translate(-320.803 -267.98)"><g transform="translate(327.803 275.98)"><path d="M27.59,8.637a7.424,7.424,0,0,0-11.832,0L15,9.547l-.757-.91a7.423,7.423,0,0,0-11.832,0c-3.2,3.839-3.216,9.925-.048,14.157,2.89,3.858,11.412,12.193,11.774,12.546a1.19,1.19,0,0,0,.834.356H15a1.149,1.149,0,0,0,.863-.356c.362-.353,8.885-8.688,11.775-12.546C30.806,18.562,30.785,12.476,27.59,8.637ZM25.669,20.665C23.416,23.672,17.223,29.874,15,32.075c-2.223-2.2-8.415-8.4-10.668-11.41a8.076,8.076,0,0,1-.048-9.777A5.26,5.26,0,0,1,8.326,8.879a5.258,5.258,0,0,1,4.043,2.009l1.665,2a1.218,1.218,0,0,0,.71.43,1.186,1.186,0,0,0,1.219-.43l1.666-2a5.074,5.074,0,0,1,8.086,0A8.076,8.076,0,0,1,25.669,20.665Z" transform="translate(0 -5.697)" fill="#fff"/></g></g></svg>
                    .
                      <?php
                        }
                      ?>
                    .
                      <?php if($catId === 5){
                      ?>
                    <svg width="44" height="44" viewBox="0 0 44 44"><circle cx="22" cy="22" r="22" fill="none"/><g transform="translate(-320.787 -372.306)"><path d="M86.063,34V28.826a9.039,9.039,0,0,0,2.8.447A9.223,9.223,0,0,0,98,19.988,9.4,9.4,0,0,0,95.5,13.6a7.816,7.816,0,0,0,.1-1.272,7.715,7.715,0,0,0-3.249-6.285,7.664,7.664,0,0,0-2.407-4.16,7.423,7.423,0,0,0-9.883,0,7.663,7.663,0,0,0-2.407,4.16,7.715,7.715,0,0,0-3.249,6.285,7.807,7.807,0,0,0,.1,1.272A9.4,9.4,0,0,0,72,19.988a9.223,9.223,0,0,0,9.138,9.285,9.039,9.039,0,0,0,2.8-.447V34h2.12Zm-4.922-6.88a7.084,7.084,0,0,1-7.018-7.131,7.207,7.207,0,0,1,2.261-5.242l.464-.435-.156-.622a5.589,5.589,0,0,1-.167-1.359A5.53,5.53,0,0,1,79.159,7.62l.434-.263.072-.509a5.382,5.382,0,0,1,10.675,0l.072.509.434.263a5.53,5.53,0,0,1,2.634,4.709,5.591,5.591,0,0,1-.167,1.359l-.156.622.464.435a7.206,7.206,0,0,1,2.261,5.242,7.084,7.084,0,0,1-7.018,7.131,6.946,6.946,0,0,1-2.8-.592V22.588l3.954-4.018-1.5-1.523-2.456,2.5v-8.4h-2.12v4.093l-2.456-2.5-1.5,1.523,3.954,4.018v8.247A6.945,6.945,0,0,1,81.141,27.12Z" transform="translate(257.784 377.306)" fill="#fff"/></g></svg>
                    .
                      <?php
                        }
                      ?>
                    .
                      <?php if($catId === 2){
                      ?>
                    <svg width="44" height="44" viewBox="0 0 44 44"><circle cx="22" cy="22" r="22" fill="none"/><g transform="translate(-320.35 -1185.404)"><g transform="translate(330.35 1190.404)"><path d="M26.475,14.516a3.242,3.242,0,0,0-3.094-.583,2.826,2.826,0,0,0-.756.4,20.988,20.988,0,0,0-2.894,3.04V7.391a3.244,3.244,0,0,0-.939-2.276,2.981,2.981,0,0,0-3.24-.685V3.454A3.531,3.531,0,0,0,14.53.976,3.249,3.249,0,0,0,12.153,0a3.389,3.389,0,0,0-3.28,3.3,3.167,3.167,0,0,0-1.235-.291,3.363,3.363,0,0,0-2.451.978,3.3,3.3,0,0,0-1,2.359l0,.946a2.76,2.76,0,0,0-.879-.144A2.841,2.841,0,0,0,.5,10.017V24.532l0,.069a13.073,13.073,0,0,0,1.162,4.848,7.5,7.5,0,0,0,2.5,2.944A11.611,11.611,0,0,0,10.8,34a10.422,10.422,0,0,0,9.23-5.2c.215-.353.781-1.262,1.393-2.241.6-.955,1.15-1.834,1.639-2.61l.725-1.153c.79-1.26,1.632-2.482,2.5-3.632.323-.426.422-.542.445-.568a2.974,2.974,0,0,0,.743-1.606A2.717,2.717,0,0,0,26.475,14.516Zm-.937,2.207a.974.974,0,0,1-.246.523c-.071.079-.2.23-.551.7-.906,1.2-1.782,2.467-2.6,3.777-.212.337-.455.724-.723,1.15-.49.778-1.045,1.659-1.643,2.617-.626,1-1.205,1.932-1.417,2.281l-.022.038A8.472,8.472,0,0,1,10.8,32a9.89,9.89,0,0,1-5.545-1.266c-1.669-1.145-2.583-3.186-2.8-6.241V10.017a.857.857,0,1,1,1.713,0v5.432c0,.016,0,.032,0,.048s0,.036,0,.053,0,.031.007.047,0,.035.008.052.008.031.012.046.007.033.012.049.011.031.016.046.01.031.017.046.013.029.02.044.013.029.021.044.016.027.024.041.016.028.024.041.019.026.028.038.018.026.028.038l.031.035c.011.012.021.025.032.036l.034.031c.012.011.023.023.036.033l.036.028.039.03.038.024.042.026.041.02.045.022.043.016.047.017.046.012.048.012L5,16.434l.048.008.05,0,.049,0h0a.977.977,0,0,0,.1-.005l.042-.006c.018,0,.037,0,.054-.009l.055-.014.038-.01c.02-.006.04-.015.06-.022l.03-.011c.02-.009.039-.019.058-.028l.028-.013c.018-.01.035-.021.052-.032l.029-.018c.016-.011.031-.023.046-.035l.03-.023c.014-.011.027-.024.04-.037l.03-.027c.012-.012.023-.026.035-.039l.028-.032c.01-.013.019-.026.029-.039s.019-.024.027-.037.016-.027.024-.041.017-.027.025-.041.013-.029.02-.043.014-.029.021-.044.011-.03.016-.045.012-.031.017-.047.008-.031.012-.046.009-.032.012-.049,0-.032.007-.048.006-.034.008-.051,0-.033,0-.049,0-.034,0-.052l.023-9.1a1.309,1.309,0,0,1,.4-.93A1.416,1.416,0,0,1,7.58,5.007,1.371,1.371,0,0,1,8.86,6.4L8.871,15.4c0,.018,0,.036,0,.053s0,.032,0,.048.005.037.008.055,0,.03.007.044.01.039.015.058.006.025.009.037.014.041.022.061.007.02.011.03.02.043.03.063.007.016.011.024.024.042.037.062l.012.02c.013.02.028.04.043.059l.013.018c.017.02.034.04.052.059l.011.012c.019.019.038.037.058.054l.011.01c.02.017.041.032.062.047l.013.01c.021.015.044.028.066.041l.014.009c.023.013.048.024.072.035l.013.007c.025.011.051.02.077.029l.013,0c.026.008.052.015.078.02l.016,0a.966.966,0,0,0,.2.02h0l.051,0,.049,0L10,16.379l.045-.007.052-.013.042-.011c.018-.005.034-.012.051-.019l.038-.014.052-.025.034-.017c.017-.009.033-.02.049-.03l.032-.02c.016-.011.03-.023.045-.034l.031-.023c.014-.012.027-.025.041-.038l.029-.027.036-.04.027-.03c.011-.013.02-.028.03-.042l.026-.035c.009-.014.017-.028.025-.043s.017-.026.024-.04.014-.029.021-.044.014-.029.021-.044.011-.029.016-.044.012-.031.017-.047.008-.031.012-.047.009-.032.012-.048.005-.033.008-.05.006-.033.007-.05,0-.034,0-.051,0-.033,0-.05V3.407a1.406,1.406,0,0,1,1.361-1.412,1.337,1.337,0,0,1,.973.4A1.5,1.5,0,0,1,13.6,3.454v12c0,.018,0,.036,0,.054s0,.032,0,.048.005.035.008.052,0,.032.007.047.009.034.013.051.007.03.011.044.013.036.019.054.008.025.013.037.017.037.026.055.01.022.015.032.021.036.032.053.011.019.017.029.025.034.038.051l.019.025c.014.018.03.035.046.051l.018.019c.016.017.033.032.051.047l.019.017c.019.016.04.031.06.046l.015.012c.022.015.045.029.068.042l.012.008c.025.014.051.026.078.038l.007,0c.028.012.056.022.085.032l0,0a.954.954,0,0,0,.189.04h0a.977.977,0,0,0,.1.005h0l.052,0,.048,0,.053-.008.044-.007c.019,0,.037-.01.056-.015l.038-.01.058-.022.032-.012c.02-.009.038-.018.057-.028l.028-.014c.019-.01.036-.022.054-.034l.026-.016c.018-.012.035-.026.053-.04l.023-.017c.017-.015.033-.03.049-.046l.02-.018c.016-.016.031-.033.045-.051l.018-.02c.014-.017.027-.036.039-.054l.017-.023c.012-.018.023-.037.033-.056s.011-.017.016-.026.019-.039.028-.059.009-.018.013-.028.015-.04.022-.06.008-.021.011-.032.01-.039.015-.058.007-.025.009-.037.006-.039.009-.059,0-.027.006-.04,0-.037,0-.056,0-.03,0-.046V7.218A1.13,1.13,0,0,1,16.64,6.211a1.075,1.075,0,0,1,.781.326,1.217,1.217,0,0,1,.354.854V19.207a1.4,1.4,0,0,0,1.035,1.359,1.36,1.36,0,0,0,1.553-.656l.006-.011a19.124,19.124,0,0,1,3.414-3.956.88.88,0,0,1,.237-.125,1.3,1.3,0,0,1,1.217.242A.741.741,0,0,1,25.538,16.723Zm0,0" transform="translate(-0.5 0.001)" fill="#fff"/></g></g></svg>
                    .
                      <?php
                        }
                      ?>
                    .
                      <?php if($catId === 6){
                      ?>
                    <svg width="44" height="44" viewBox="0 0 44 44"><circle cx="22" cy="22" r="22" fill="none"/><g transform="translate(-321 -1190)"><g transform="translate(332 1195)"><path d="M90.7,0c-6.064,0-11,5.252-11,11.707a1.067,1.067,0,1,0,2.13,0c0-5.205,3.979-9.441,8.87-9.441s8.87,4.235,8.87,9.441c0,3.4-1.245,4.7-2.974,6.494-1.883,1.957-4.225,4.392-4.225,9.645a3.66,3.66,0,1,1-7.306,0,1.067,1.067,0,1,0-2.13,0,5.794,5.794,0,1,0,11.565,0c0-4.3,1.822-6.191,3.59-8.03s3.61-3.749,3.61-8.109C101.7,5.252,96.767,0,90.7,0Z" transform="translate(-79.701)" fill="#fff"/><path d="M.5,17.618a1.207,1.207,0,0,1-.358-1.555.971.971,0,0,1,1.4-.4,2.325,2.325,0,0,0,1.933.309,2.575,2.575,0,0,0,1.564-1.3,3.064,3.064,0,0,0,.278-2.142,2.791,2.791,0,0,0-1.17-1.728,2.335,2.335,0,0,0-1.567-.382A1.053,1.053,0,0,1,1.459,9.416c0-.006,0-.012,0-.018a1.289,1.289,0,0,1-.012-.142L1.355,6.239a1.235,1.235,0,0,1,.062-.429A6.236,6.236,0,0,1,7.347,0c3.293,0,5.974,2.969,5.974,6.617a1.029,1.029,0,1,1-2.048,0A4.158,4.158,0,0,0,7.347,2.268,4.158,4.158,0,0,0,3.42,6.617c0,.026,0,.051,0,.076l.045,1.493A4.281,4.281,0,0,1,5.2,8.857a5.031,5.031,0,0,1,2.109,3.118,5.532,5.532,0,0,1-.5,3.862,4.651,4.651,0,0,1-2.819,2.336,4.146,4.146,0,0,1-1.144.162A4.245,4.245,0,0,1,.5,17.618Z" transform="translate(4.173 5.282)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/></g></g></svg>
                    .
                      <?php
                        }
                      ?>
                    .
                      <?php if($catId === 7){
                      ?>
                    <svg width="44" height="44" viewBox="0 0 44 44"><circle cx="22" cy="22" r="22" fill="none"/><g transform="translate(-320 -1192)"><g transform="translate(325 1198)"><path d="M33.773,131.064c-3.09-3.672-9.633-7.957-16.773-7.957-7.166,0-13.709,4.314-16.773,7.957a.957.957,0,0,0,0,1.237c3.163,3.761,9.721,7.957,16.773,7.957,7.3,0,13.817-4.444,16.773-7.957A.957.957,0,0,0,33.773,131.064Zm-9.98.619A6.8,6.8,0,1,1,17,125.057,6.718,6.718,0,0,1,23.792,131.682Zm-21.442,0A24.151,24.151,0,0,1,10,126.5a8.386,8.386,0,0,0,0,10.365,23.731,23.731,0,0,1-7.648-5.181ZM24,136.865A8.386,8.386,0,0,0,24,126.5a23.735,23.735,0,0,1,7.648,5.181A24.15,24.15,0,0,1,24,136.865Z" transform="translate(0.001 -114.682)" fill="#fff"/><path d="M204,207.49a3.49,3.49,0,1,0,3.49-3.49A3.494,3.494,0,0,0,204,207.49Zm4.927,0a1.437,1.437,0,1,1-1.437-1.437A1.439,1.439,0,0,1,208.927,207.49Z" transform="translate(-190.49 -190.49)" fill="#fff"/><path d="M241.026,4.448a1.027,1.027,0,0,0,1.026-1.026v-2.4a1.026,1.026,0,1,0-2.053,0v2.4A1.026,1.026,0,0,0,241.026,4.448Z" transform="translate(-224.027)" fill="#fff"/><path d="M337.447,26.343a1.027,1.027,0,0,0,1.4-.383l1.366-2.4a1.026,1.026,0,1,0-1.783-1.017l-1.366,2.4A1.027,1.027,0,0,0,337.447,26.343Z" transform="translate(-314.532 -20.522)" fill="#fff"/><path d="M124.605,25.96a1.026,1.026,0,0,0,1.783-1.017l-1.366-2.4a1.026,1.026,0,1,0-1.783,1.017Z" transform="translate(-114.921 -20.522)" fill="#fff"/><path d="M241.026,445A1.027,1.027,0,0,0,240,446.026v2.4a1.026,1.026,0,0,0,2.053,0v-2.4A1.027,1.027,0,0,0,241.026,445Z" transform="translate(-224.027 -415.448)" fill="#fff"/><path d="M126.005,423.1a1.027,1.027,0,0,0-1.4.383l-1.366,2.4a1.026,1.026,0,0,0,1.783,1.017l1.366-2.4A1.026,1.026,0,0,0,126.005,423.1Z" transform="translate(-114.921 -394.923)" fill="#fff"/><path d="M338.847,423.484a1.026,1.026,0,1,0-1.783,1.017l1.366,2.4a1.026,1.026,0,1,0,1.783-1.017Z" transform="translate(-314.532 -394.922)" fill="#fff"/></g></g></svg>
                    .
                      <?php
                        }
                      ?>
                  span.header-sub-cat-title <?php echo $catName; ?>について
                .
                  <?php
                  if ( $metrics_query->have_posts() ) {
                    while($metrics_query->have_posts()) {
                      $metrics_query->the_post();
                  ?>
                p.header-sub-link-wrap
                  a(href!="<?php the_permalink(); ?>" @mouseover="naviMouseOverAction").header-sub-link.header-hv
                    .
                      <?php
                        if(mb_strlen($post->post_title, 'UTF-8')>30){
                          $title= mb_substr(strip_tags($post->post_title), 0, 30, 'UTF-8');
                          echo $title.'...';
                        }else{
                          echo strip_tags($post->post_title);
                        }
                      ?>
                    span
                    i.page-arrow-r
                .
                  <?php
                      }
                    }
                  ?>
              .
                <?php
                  wp_reset_postdata();
                  endforeach;
                ?>
            .header-close-btn
              p(@click="naviClose")
                i.page-close
                span.header-close-copy 閉じる
          .header-sub-container(:class="{'current': naviDropdownClass('case')}")
            ul.header-sub-case-items.row.row-cols-3
              .
                <?php
                  $caseArgs = array(
                    'post_type' => 'case',
                    'post_status' => 'publish',
                    'ignore_sticky_posts' => 1,
                    'posts_per_page' => -1,
                    'orderby' => array(
                      'menu_order'=>'ASC',
                      'date' =>'DESC',
                    ),
                  );
                  $case_query2 = new WP_Query($caseArgs);
                  if ( $case_query2->have_posts() ) {
                    while($case_query2->have_posts()) {
                      $case_query2->the_post();
                ?>
              li.header-sub-case-item.page-block-case-item
                .page-block-case-item-wrap
                  a(href!="<?php the_permalink(); ?>").page-block-case-link.page-block-hv
                    figure.page-block-case-fig
                      <?php the_post_thumbnail(); ?>
                    .page-block-case-copywrap
                      h3.page-block-case-title.page-gr-b <?php the_title(); ?>
                        span
                      .page-block-case-excerpt <?php the_excerpt(); ?>
              .
                <?php
                    }
                  }
                  wp_reset_postdata();
                ?>
            .header-close-btn
              p(@click="naviClose")
                i.page-close
                span.header-close-copy 閉じる
          .header-sub-container(:class="{'current': naviDropdownClass('tool')}")
            ul.header-sub-items.row.row-cols-2
              .
                <?php
                  $toolArgs = array(
                  'post_type' => 'tool',
                  //- 'post__in' => array(67,255,253),
                  'orderby' => 'rand',
                  'post_status' => 'publish',
                  'ignore_sticky_posts' => 1,
                  'post__not_in' => array($id),
                  'posts_per_page' => 10,
                  //- 'orderby' => array(
                  //-   'menu_order'=>'ASC',
                  //-   'date' =>'DESC',
                  //- ),
                  );
                  $tool_query = new WP_Query($toolArgs);
                  if ( $tool_query->have_posts() ) {
                    while($tool_query->have_posts()) {
                      $tool_query->the_post();
                ?>
              li.header-sub-item
                  a(href!="<?php the_permalink(); ?>" @mouseover="naviMouseOverAction").header-sub-link.header-hv
                    .
                      <?php
                        if(mb_strlen($post->post_title, 'UTF-8')>30){
                          $title= mb_substr(strip_tags($post->post_title), 0, 30, 'UTF-8');
                          echo $title.'...';
                        }else{
                          echo strip_tags($post->post_title);
                        }
                      ?>
                    span
                    i.page-arrow-r
              .
                <?php
                    }
                  }
                  wp_reset_postdata();
                ?>
            .header-close-btn
              p(@click="naviClose")
                i.page-close
                span.header-close-copy 閉じる