mixin content-scrolltrigger()
  .page-scrolltrigger-container
    .page-scrolltrigger-items
      figure.page-scrolltrigger-fig.page-scrolltrigger-target-a
        img(src="assets/images/common/sample-02.jpg")
      figure.page-scrolltrigger-fig
        img(src="assets/images/common/sample-02.jpg")
    .page-scrolltrigger-items
      figure.page-scrolltrigger-fig
        img(src="assets/images/common/sample-02.jpg")
      figure.page-scrolltrigger-fig.page-scrolltrigger-target-b
        img(src="assets/images/common/sample-02.jpg")
  .page-scrolltrigger-container
    .page-scrolltrigger-items
      figure.page-scrolltrigger-fig.page-scrolltrigger-target-a
        img(src="assets/images/common/sample-02.jpg")
      figure.page-scrolltrigger-fig
        img(src="assets/images/common/sample-02.jpg")
    .page-scrolltrigger-items
      figure.page-scrolltrigger-fig
        img(src="assets/images/common/sample-02.jpg")
      figure.page-scrolltrigger-fig.page-scrolltrigger-target-b
        img(src="assets/images/common/sample-02.jpg")