mixin content-mouse-backgroundmove()
  .page-backgroundmove-container
    .page-backgroundmove-items
      figure.page-backgroundmove-fig
        img(src="assets/images/common/sample-02.jpg")
        //- img(src="https://unsplash.it/2000/1000?random=")
      figure.page-backgroundmove-fig2
        img(src="assets/images/common/sample-02.jpg")
        //- img(src="https://unsplash.it/2000/1000?random=")