/* m-plus-rounded-1c-regular - latin_japanese */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-regular.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}
/* m-plus-rounded-1c-700 - latin_japanese */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/m-plus-rounded-1c-v10-latin_japanese/m-plus-rounded-1c-v10-latin_japanese-700.svg#MPLUSRounded1c') format('svg'); /* Legacy iOS */
}