include /data/var.pug
include /components/content/content-group-1.pug
include /components/content/animations/content-cursor.pug
include /components/content/animations/content-mouse-backgroundmove.pug
include /components/content/animations/content-scrolltrigger.pug
.
  <?php
    $urlPath = $_SERVER["DOCUMENT_ROOT"]."/";
    $title = "";
    $description = "";
    $keywords = ",";
    $url = "";
    $pagePath = "/";
    $ogp = "";
    $siteName = "";
  ?>
doctype html
html(lang="ja")
  head
    .
      <?php
        include($urlPath."inc/head/page-meta.php");
        include($urlPath."inc/head/com-css.php");
      ?>
    //- link(rel="stylesheet" href= urlPath + "assets/css/page/home.min.css")
  body
    #app
      .
        <?php
          include($_SERVER['DOCUMENT_ROOT']."/inc/page-loading.php");
        ?>
      .page-wrap
        header(role="header").header
          .
            <?php
              include($_SERVER['DOCUMENT_ROOT']."/inc/header/header-navi.php");
            ?>
        main(role="main")
          +content-mouse-backgroundmove()
          p.mheight content !{h1_copy_1}
          +content-group-1()
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          +content-scrolltrigger()
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        footer(role="footer").footer
          //- .
          //-   <?php
          //-     include($urlPath."inc/footer/footer.php");
          //-   ?>
        +content-cursor()
    .
      <?php
        include($urlPath."inc/footer/com-lib-js.php");
        include($urlPath."inc/footer/com-js.php");
      ?>
    //- script(type="text/javascript" src=urlPath+"assets/js/home.min.js")
    //- script.
