include /_data/_var.pug
.
  <?php
    /**
    * The template for displaying archive pages
    *
    * @package #{themename}
    */
    get_header();
  ?>
<body <?php body_class('archive'); ?>>
.
  <?php
    get_template_part( 'template-parts/content/content-loading' );
  ?>
.page-wrap
  .
    <?php
      get_template_part(#{get_template_header});
    ?>
  main(role="main")
    .page-fixed-bg
    h1.page-single-title
      img(src!="<?php echo get_stylesheet_directory_uri(); ?>/assets/images/common/page-case-title.svg" alt="Metrics")
    .page-single-container.page-container-m
      h2.page-news-title
        include /assets/images/home/home-news-title.svg
      ul.page-news-items
        .
          <?php
            if ( have_posts() ) {
              while ( have_posts() ) {
                the_post();
                get_template_part( 'template-parts/content/content','archive-news' );
              }
            } else {
              get_template_part( 'template-parts/content/content-none' );
            }
          ?>
      <?php #{templateNavigation}(); ?>
  .
    <?php
      get_footer();
    ?>
.
  <?php
    wp_footer();
  ?>
</body>
</html>

