include /_data/_var.pug
.
  <?php
    /**
    * The template for displaying the footer
    *
    * @package #{themename}
    */
  ?>
footer.footer
  .footer-wrap
    p.footer-copyright Copyright © Kansei Gakuin University. All rights revserved.