include /_data/_var.pug

.
  <?php
    /**
    * functions cus and definitions
    *
    * @package #{themename}
    */
  ?>
//- include /components/functions/_admin-post-sticky.pug
include /components/functions/_css.pug
include /components/functions/_scripts.pug
include /components/functions/_dashboard.pug
include /components/functions/_rest-api-all.pug
include /components/functions/_rest-api-all-category.pug
include /components/functions/_rest-api-all-tag.pug
include /components/functions/_cpt-permalinks.pug
include /components/functions/_the_post_navigation.pug
include /components/functions/_gutenberg-panel.pug
include /components/functions/_admin-post-option-set.pug
include /components/functions/_shortcode.pug
include /components/functions/_mw_wp_form_error_message.pug

//- include /components/functions/_mw-wp-form-after-send.pug
//- include /components/functions/_cpt-term-list.pug
//- include /components/functions/_cpt-year-list.pug
//- include /components/functions/_gutenberg_block_types.pug
//- include /components/functions/_image-auto.pug
//- include /components/functions/_tag-list.pug
//- include /components/functions/_form-post.pug